In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
df = pd.read_csv('../data/silvercar_reservations.csv', encoding="ISO-8859-1")
df_users = pd.read_csv('../data/silvercar_users.csv')
df_insurance = pd.read_csv('../data/silvercar_insurance.csv', encoding="ISO-8859-1")
df_promos = pd.read_csv('../data/silvercar_promotions.csv', encoding="ISO-8859-1")
df_promo_codes = pd.read_csv('../data/silvercar_promo_codes.csv', encoding="ISO-8859-1")
df_locations = pd.read_csv('../data/silvercar_locations.csv', encoding="ISO-8859-1")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.head()

,id,pickup,dropoff,user_id,status,confirmation_token,created_at,updated_at,booked_price,current_state,...,publisher_id,cancelled_at,local_rental,booked_by_id,awards_referral_bonus,extole_conversion_id,potential_local_rental,claimed_at,customer_modifiable,credit_card_id
0,89,41288.29167,41289.39583,12.0,NaN,5B23231DC0,41269.81361,41417.79529,NaN,cancelled,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,1,NaN
1,91,41307.79167,41308.79167,49.0,NaN,9A10C66F0C,41269.84853,41417.79530,NaN,cancelled,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,1,NaN
2,93,41297.41667,41310.83333,51.0,NaN,157C8653CA,41269.86818,41417.79530,NaN,cancelled,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,1,NaN
3,94,41291.54167,41293.83333,45.0,NaN,C48194AA4F,41269.91132,41417.79530,NaN,cancelled,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,1,NaN
4,95,41290.97917,41291.79167,55.0,NaN,AABEB48B94,41269.93505,41702.07976,NaN,finished,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,1,NaN

In [4]:
engine = create_engine('postgresql://mengeling:mengeling@localhost:5432/silvercar')
df.to_sql('reservations', engine)

In [ ]:
df_users.to_sql('users', engine)
df_insurance.to_sql('insurance', engine)
df_promos.to_sql('promos', engine)
df_promo_codes.to_sql('promo_codes', engine)
df_locations.to_sql('locations', engine)

In [20]:
import os
files = [f for f in os.listdir('.') if (f.endswith(".csv")) & (f != "CCI.csv")]

In [25]:
for f in files:
    print(f.split(".")[0])

reservations
users
insurance
promotions
locations
promo_codes